 @use '../base/mixins';
 @use '../base/variables';

 .boton-amarillo{
    @include mixins.boton(variables.$amarillo, block);
 }

  .boton-verde{
    @include mixins.boton(variables.$verde, inline);
 }

.boton-login-enviar{
   margin-bottom: 2rem;
}

.botones-productos{
   display: flex;
   justify-content: space-between;
}