@use 'variables';

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: variables.$fuente_principal;
    font-size: 1.6rem;
    line-height: 1.8;
}

.body-sesion{
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;
}

p {
    color: variables.$negro;
    font-size: 2.5rem;
}

.login-wrapper {
    width: 90%; /* Dale un ancho (ej. 90% del espacio) */
    max-width: 500px; /* Ponle un límite para que no sea muy ancho en pantallas grandes */
    
    /* Opcional: añade un fondo y sombra para que parezca un bloque */
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    border-radius: 8px;
    padding: 2rem;
}

.contenedor {
    width: 95%;
    max-width: 180rem;
    margin: 0 auto;
}


a {
    text-decoration: none;
}

img,
picture {
    max-width: 100%; 
    display: block;
    height: auto; 
}

h1, h2, h3 {
    font-family: variables.$fuente_principal;
    //margin: calc(variables.$separacion / 2) 0;
    font-weight: 300;
    text-align: center;
    
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}