@use '../base/variables';

.footer{
    p{
        text-align: center;
        margin: 0;
    }

    background-color: variables.$gris;
    padding: 3rem;

}

.footer-sesion{
    p{
        text-align: center;
        margin: 0;
        font-size: 2rem;
    }
    padding: 3rem;
}