@use '../base/mixins';
@use '../base/variables';

.no-webp .inicio{
    background-image: url(../../../build/img/fondo5.png);
}

.webp .inicio{
    background-image: url(../../../build/img/fondo5.webp);
}

.header {

    &.inicio {
        background-position: center center;
        background-size: cover;
        position: relative; // Necesario para ambas vistas

        .slogan {
            // --- ESTILOS PARA PANTALLA PEQUEÑA ---
            position: absolute;
            top: 0;    
            right: 0;  
            
            padding: 1rem; 
            margin-right: 5rem;

            // Alinea el texto si es más de una línea
            text-align: right; 
            font-size: 3rem;
        }

        @include mixins.tablet {
            min-height: 80rem;

            .slogan {
                // --- ESTILOS QUE SOBREESCRIBEN PARA PANTALLA GRANDE ---
                top: auto;   
                right: auto; 
                bottom: 0; 
                left: 0;   
                padding: 2rem; 
                margin-bottom: 25rem;
                margin-left: 5rem;
                font-size: 5rem;
            }
        }
    }
}

.header-sesion{
    h1{
        font-weight: variables.$bold;
    }
    
}

.header-inventario{

    h1{
        font-weight: variables.$bold;
        margin-left: 20rem;
        margin-right: 3rem;
    }

    display: flex;                  
    justify-content: space-between; 
    align-items: center;

    .header-navegacion{
        margin-right: 20rem;
        margin-left: 2rem;
    }
}

.header-crear-producto{
    display: flex;
    justify-content: center;
}

.carrito-ver-productos{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}