 @use '../base/mixins';
 @use '../base/variables';

 @include mixins.tablet{
    .contenedor-productos{
        @include mixins.grid(3,2rem);
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
 }

.main-productos{
    h2{
        font-weight: variables.$bold;
        font-size: 5rem;
    }
}

 .producto{
    background-color: variables.$grisClaro;
    border: 1px solid variables.$grisClaro;

    .contenido-producto{
        padding: 2rem;
    }

    h3, p{
        margin: 0;
    }

    h3{
        font-weight: variables.$bold;
    }

    .precio{
        color: variables.$verde;
        font-weight: variables.$bold;
        font-size: 3rem;
        text-align: center;
    }

    picture{
        display: flex;
        justify-content: center;
        img{
            width: 100%;          
            height: 30rem;        
            object-fit: contain;
        }
    }

 }


 .productos-tallas{
    display: flex;
    list-style: none;
    padding: 0;

    li{
        flex: 1;
        display: flex;
        justify-content: center;
        p{
            font-weight: variables.$bold;
        }
    }
 }